.slideBar.flex
  label.m-2(for=id) #{label}
  div.p-1
    input(type='range' id=id min=min max=max value=val class="appearance-none h-1 bg-gray-400 rounded outline-none slider-thumb")
  output.m-2(for=id) #{val}
